In [5]:
# %pip install requests
# %pip install bs4
import requests
from bs4 import BeautifulSoup
import re

In [486]:
# initial webscraping solution

In [6]:
def get_player_info(player_name):
    player_url = f"https://en.wikipedia.org/wiki/{player_name.replace(' ', '_')}"

    try:
        response = requests.get(player_url)

        if response.status_code == 200:
            soup = BeautifulSoup(response.content, 'html.parser')
            player_career = soup.find('table', {'class': 'wikitable'})
            # if player_career.caption is not None:
            #     if 'Appearances' not in player_career.caption.get_text():
            #         player_career = player_career.find_next_sibling('table', {'class': 'wikitable'}, partial=False)
            player_info = []

            if player_career:
                rows = player_career.tbody.find_all("tr")
                for row in rows:
                    # team, season, league columns
                    cells = row.find_all("td")[:3] 
                    info = []
                    for cell in cells:
                        info.append(cell.text)
                    
                    if info:
                        player_info.append(info)
                player_info = [[process_text(elem) for elem in unique_season] for unique_season in player_info]
                player_info = clean_up_teams_for_multiple_years(player_info)
                return player_info
            else:
                print("No career. dry him, he's washed")
            return soup
        else:
            print("couldn't find player as written.")
            return None
    except Exception as e:
        print(f'Something went wrong...: {e}')
        return None
    
def process_text(input_text):
    # remove_square_brackets_and_newlines
    new_text = re.sub(r'\[.*?\]', '', input_text).replace('\n', '')
    
    return new_text

def clean_up_teams_for_multiple_years(player_info):
    n = len(player_info)
    last_team = ''

    for i in range(n):
        uniq_season = player_info[i]
        if '\u2013' in uniq_season[0] and not uniq_season[1][0].isdigit():
            player_info[i] = [uniq_season[0], last_team, uniq_season[2]]  
        else:
            player_info[i] = [uniq_season[1], uniq_season[0], uniq_season[2]]
            last_team = uniq_season[0]
    return player_info

def get_player_info_dict(player_info):
    player_info_dict = {}
    for uniq_season in player_info:
        season, team, league = uniq_season
        season = season.replace('\u2013', '-')
        if season not in player_info_dict:
            player_info_dict[season] = [[team, league]]
        else:
            # handling loan players
            if '(loan)' in team and '(loan)' not in player_info_dict[season][0][0]:
                player_info_dict[season] = [[team, league]]
            else:
                player_info_dict[season].append([team, league])
    
    return player_info_dict


def clean_loans(player_info_dict):
    for season in player_info_dict:
        for i in range(len(player_info_dict[season])):
            if '(loan)' in player_info_dict[season][i][0]:
                player_info_dict[season][i][0] = player_info_dict[season][i][0][:-7]
    
    return player_info_dict

In [488]:
a = get_player_info_dict(get_player_info('Cristiano Ronaldo'))
a
print(int(list(a)[0][:4]))

2002

In [7]:
def did_they_play_together(player1_name, player2_name):
    # Get career information for both players
    player1_career = clean_loans(get_player_info_dict(get_player_info(player1_name)))
    player2_career = clean_loans(get_player_info_dict(get_player_info(player2_name)))

    if player1_career and player2_career:
        # Compare career information to check if they played together
        player1_start, player2_start = list(player1_career)[0], list(player2_career)[0]
        # print(player1_start); print(player2_start)
        p1_start, p2_start = int(player1_start[:4]), int(player2_start[:4])

        start_check = max(p1_start, p2_start)
        if p1_start > p2_start:
            len_to_check = len(player1_career)
        else:
            len_to_check = len(player2_career)

        same_league = []

        for i in range(len_to_check):
            year = i + start_check
            season = convert_year_to_season(year)
            
            if season in player1_career and season in player2_career:
                teams_player_1 = [i[0] for i in player1_career[season]]
                teams_player_2 = [i[0] for i in player2_career[season]]

                leagues_player_1 = [i[1] for i in player1_career[season]]
                leagues_player_2 = [i[1] for i in player2_career[season]]

                if not set(teams_player_1).isdisjoint(teams_player_2):
                    common_team = find_common_element(teams_player_1, teams_player_2)
                    print(f"Yes. {player1_name} and {player2_name} first played together at club level in {season} for {common_team}.")
                    return True
                
                elif not set(leagues_player_1).isdisjoint(leagues_player_2):
                    common_league = find_common_element(leagues_player_1, leagues_player_2)
                    same_league.append([season, common_league])

        if same_league:    
            print(f"No. But {player1_name} and {player2_name} first played in the same league ({same_league[0][1]}) in {same_league[0][0]}.")
            return False
        
        print(f"No. {player1_name} and {player2_name} have never played together at club level.")

def convert_year_to_season(year):
    start_year = str(year)
    end_year = str(year + 1)

    fmt_year = f"{start_year}-{end_year[2:]}"

    return fmt_year

def find_common_element(list1, list2):
    for element in list1:
        if element in list2:
            return element
    return None

In [490]:
if __name__ == "__main__":
    player1_name = input("Enter the name of the first player: ")
    player2_name = input("Enter the name of the second player: ")

    did_they_play_together(player1_name, player2_name)

In [ ]:
# handling neymar-type pages
# handling the Gundo-Reus effect
# handling iniesta type pages

# fixed all by directly accessing tables in the webpage addressed in new solution
# can now handle disambiguation pages as well

# will now tell you if players have played in the same squad at the same time
# if not have they played in the same league at the same time
# will add whether theyve played together internationally (called up in the same year)

In [248]:
"""V2"""

'V2'

In [8]:
# %pip install pandas
# %pip install lxml
import pandas as pd
import io
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

In [72]:
def get_player_info_new(player_name):
    api_url = f"https://en.wikipedia.org/w/api.php"

    params = {
        "action": "query",
        "titles": player_name,
        "prop": "categories",
        "format": "json",
    }

    try:
        response = requests.get(api_url, params=params)
        data = response.json()

        pages = data["query"]["pages"]
        page_id, page_info = next(iter(pages.items()))

        is_disambiguation_page = any("disambiguation" in cat["title"] for cat in page_info.get("categories", []))

        if is_disambiguation_page:
            links_params = {
                "action": "query",
                "titles": player_name,
                "prop": "links",
                "pllimit": "max",
                "format": "json",
            }

            response = requests.get(api_url, params=links_params)
            data = response.json()
            links = data["query"]["pages"][page_id]["links"]

            for idx, link in enumerate(links):
                print(f"{idx}. {link["title"]}")
            page_num = int(input("Which one do you mean? Enter the corresponding number:"))
            if 0 <= page_num <= len(links):
                player_name = links[page_num]["title"]
            else:
                print('invalid. please enter a valid choice next time.')
            
        page_title = player_name.replace(' ', '_')
        player_url = f"https://en.wikipedia.org/wiki/{page_title}"

        response = requests.get(player_url)

        if response.status_code == 200:
            soup = BeautifulSoup(response.content, 'html.parser')
            tables = soup.find_all('table', {'class': 'wikitable'})
            player_info = []
            for tbl in tables:
                df = pd.read_html(io.StringIO(str(tbl)))
                df = pd.DataFrame(df[0])
                
                if 'Club' in df.columns:
                    club_info = []
                    for row in df.iterrows():
                        team, season, league = row[1][0], row[1][1], row[1][2]
                        row_info = [season, team, league]

                        if not any('total' in elem or 'Total' in elem for elem in row_info):
                            club_info.append(row_info)
                    club_info = [[process_text(elem) for elem in unique_season] for unique_season in club_info]
                    player_info.append(club_info)
                
                elif 'Team' in df.columns or 'National team' in df.columns:
                    # might need a new way to deal with international careers (slaven-bilic type pages)
                    intl_info = []
                    for row in df.iterrows():
                        nation, year = row[1][0], row[1][1]
                        row_info = [year, nation]
                        if not any('total' in elem or 'Total' in elem for elem in row_info):
                            intl_info.append(row_info)
                    
                    intl_info = [[process_text(elem) for elem in unique_season] for unique_season in intl_info]
                    player_info.append(intl_info)

            return player_info
                
            # print("No career. Dry him, he's washed.")
            # return None         
        else:
            print("Couldn't find player as written.")
            return None
       
    except Exception as e:
        print(f"Couldn't get url...: {e}")
        return None

In [67]:
def get_intl_player_info_dict(player_info):
    # players can switch nationalities before a certain point
    # would be far easier otherwise
    player_info_dict = {}
    for uniq_season in player_info:
        year, nation = uniq_season
        if year not in player_info_dict:
            player_info_dict[year] = [nation]
        else:
            player_info_dict[year].append(nation)
    
    return player_info_dict

def did_they_play_internationally(player1_intl_career, player2_intl_career):
    
    p1_start, p2_start = list(player1_intl_career)[0], list(player2_intl_career)[0]
    p1_end, p2_end = list(player1_intl_career)[-1], list(player2_intl_career)[-1]
    p1_start, p2_start = int(p1_start[:4]), int(p2_start[:4])
    p1_end, p2_end = int(p1_end[:4]), int(p2_end[:4])

    start_check = max(p1_start, p2_start)
    end_check = min(p1_end, p2_end)
    
    # handling overlap testing is easier since international careers are quoted in years only
    # a player transferring from a traditional league to the MLS for example will go from
    # seasons to years in their club career, making this kind of search likely to lead to errors
    for i in range(end_check - start_check + 1):
        year = str(start_check + i)

        if year in player1_intl_career and year in player2_intl_career:
            nation1 = player1_intl_career[year]
            nation2 = player2_intl_career[year]

            if not set(nation1).isdisjoint(set(nation2)):
                common_nation = find_common_element(nation1, nation2)
                res = (True, f"were both called up for {common_nation} in {year}.")
                return res
    res = (False, "Did not play for the same nation.")
    return res

In [168]:
def did_they_play_together_new(player1_name, player2_name):
    # Get career information for both players
    player1_info = get_player_info_new(player1_name)
    player2_info = get_player_info_new(player2_name)

    player1_career = clean_loans(get_player_info_dict(player1_info[0]))
    player2_career = clean_loans(get_player_info_dict(player2_info[0]))

    if len(player1_info) > 1 and len(player2_info) > 1:
        intl1_career = get_intl_player_info_dict(player1_info[1])
        intl2_career = get_intl_player_info_dict(player2_info[1])
    
        intl_res = did_they_play_internationally(intl1_career, intl2_career)
        if intl_res[0]:
            print(f"{player1_name} and {player2_name} {intl_res[1]}")
            
    if player1_career and player2_career:
        # Compare career information to check if they played together
        player1_start, player2_start = list(player1_career)[0], list(player2_career)[0]
        player1_end, player2_end = list(player1_career)[-1], list(player2_career)[-1]
        p1_start, p2_start = int(player1_start[:4]), int(player2_start[:4])
        p1_end, p2_end = int(player1_end[:4]), int(player2_end[:4])

        start_check = max(p1_start, p2_start)
        if p1_end < p2_start or p2_end < p1_start:
            print(f"{player1_name} and {player2_name} have never played together at club level.")
            return None
        
        if p1_start > p2_start:
            len_to_check = len(player1_career)
        else:
            len_to_check = len(player2_career)

        same_league = []

        for i in range(len_to_check):
            year = i + start_check
            season = convert_year_to_season(year)
            
            if season in player1_career and season in player2_career:
                teams_player_1 = [i[0] for i in player1_career[season]]
                teams_player_2 = [i[0] for i in player2_career[season]]

                leagues_player_1 = [i[1] for i in player1_career[season]]
                leagues_player_2 = [i[1] for i in player2_career[season]]

                if not set(teams_player_1).isdisjoint(set(teams_player_2)):
                    common_team = find_common_element(teams_player_1, teams_player_2)
                    print(f"{player1_name} and {player2_name} first played together at club level in {season} for {common_team}.")
                    return True
                
                elif not set(leagues_player_1).isdisjoint(set(leagues_player_2)):
                    common_league = find_common_element(leagues_player_1, leagues_player_2)
                    p1_team = teams_player_1
                    p2_team = teams_player_2
                    same_league.append([season, common_league, p1_team, p2_team])

        if same_league:
            # result = "(" + ", ".join(my_list) + ")"
            # f"({', '.join(my_list)})"  
            print(f"{player1_name} ({', '.join(same_league[0][2])}) and {player2_name} ({', '.join(same_league[0][3])}) first played in the same league ({same_league[0][1]}) in {same_league[0][0]}.")
            return False
        
        print(f"{player1_name} and {player2_name} have never played together at club level.")

In [74]:
a = clean_loans(get_intl_player_info_dict(get_player_info_new('Zinedine Zidane')[1]))
a

{'1994': ['France'],
 '1995': ['France'],
 '1996': ['France'],
 '1997': ['France'],
 '1998': ['France'],
 '1999': ['France'],
 '2000': ['France'],
 '2001': ['France'],
 '2002': ['France'],
 '2003': ['France'],
 '2004': ['France'],
 '2005': ['France'],
 '2006': ['France']}

In [34]:
# if __name__ == "__main__":
#     player1_name = input("Enter the name of the first player: ")
#     player2_name = input("Enter the name of the second player: ")

#     did_they_play_together_new(player1_name, player2_name)

yee
0. Cristian Romero (Argentine footballer)
1. Cristian Romero (Paraguayan footballer)
2. Cristian Romero (writer)
3. Cristián Romero (Chilean footballer)
4. Talk:Cristian Romero
5. Help:Disambiguation
No. Cristian Romero and Zinedine Zidane have never played together at club level.

In [ ]:
# maybe allow to set the range, did these players play together between (start, end)
# did these players ever play together in this specifc league
# database to speed up lookup w/ scheduled scraping to keep up to date (October is good, transfer markets closed, and again in February)

In [247]:
if __name__ == "__main__":
    player1_name = input("Enter the name of the first player: ")
    player2_name = input("Enter the name of the second player: ")

    did_they_play_together_new(player1_name, player2_name)

Raheem Sterling (Manchester City) and Cristiano Ronaldo (Juventus, Manchester United) first played in the same league (Premier League) in 2021-22.

In [384]:
import sqlite3
tbls = ['Players',] 
# 'Positions', 'Leagues', 'Teams', 'Seasons', 'PlayerTeams', 'Nations',
# 'IntlPlayerTeams', 'ClubGoalsAndAppearances', 'IntlGoalsAndAppearances']

# Connect to the database
conn = sqlite3.connect('players.db')

# Create a cursor
cursor = conn.cursor()
for tbl in tbls:
    # Execute a SELECT query
    cursor.execute(f'SELECT COUNT(*) FROM {tbl}')

    row_count = cursor.fetchone()[0]
    print(row_count)

    cursor.execute(f"SELECT * FROM {tbl}")
    # Fetch all rows
    rows = cursor.fetchall()

    # Process the data
    for row in rows:
        print(row)
    print("__________________")

# Close the cursor and connection
cursor.close()
conn.close()

161
(1, 'Cristiano Ronaldo', 'Cristiano Ronaldo dos Santos Aveiro', '1985-02-05 00:00:00', 'Funchal, Madeira', 'Portugal', 1.87)
(2, 'Lionel Messi', 'Lionel Andrés Messi', '1987-06-24 00:00:00', 'Rosario, Santa Fe', 'Argentina', 1.7)
(3, 'Zlatan Ibrahimovic', 'Zlatan Ibrahimović', '1981-10-03 00:00:00', 'Malmö', 'Sweden', 1.95)
(4, 'Diego Maradona', 'Diego Armando Maradona', '1960-10-30 00:00:00', 'Lanús', 'Argentina', 1.65)
(5, 'Zinedine Zidane', 'Zinedine Yazid Zidane', '1972-06-23 00:00:00', 'Marseille', 'France', 1.85)
(6, 'Jack Grealish', 'Jack Peter Grealish', '1995-09-10 00:00:00', 'Birmingham', 'England', 1.75)
(7, 'Kyle Lafferty', 'Kyle Joseph George Lafferty', '1987-09-16 00:00:00', 'Enniskillen', 'Northern Ireland', 1.93)
(8, 'Paulo Dybala', 'Paulo Bruno Exequiel Dybala', '1993-11-15 00:00:00', 'Laguna Larga, Córdoba', 'Argentina', 1.77)
(9, 'Bruno Fernandes', 'Bruno Miguel Borges Fernandes', '1994-09-08 00:00:00', 'Maia', 'Portugal', 1.79)
(10, 'Frank Lampard', 'Frank James Lampard', '1978-06-20 00:00:00', 'Romford, London', 'England', 1.84)
(11, 'Steven Gerrard', 'Steven George Gerrard', '1980-05-30 00:00:00', 'Whiston', 'England', 1.83)
(12, 'Antoine Griezmann', 'Antoine Griezmann', '1991-03-21 00:00:00', 'Mâcon', 'France', 1.76)
(13, 'Son Heung Min', 'Son Heung-min', '1992-07-08 00:00:00', 'Chuncheon', 'South Korea', 1.84)
(14, 'Marcel Sabitzer', 'Marcel Sabitzer', '1994-03-17 00:00:00', 'Wels', 'Austria', 1.78)
(15, 'Ilkay Gundogan', 'İlkay Gündoğan', '1990-10-24 00:00:00', 'Gelsenkirchen', 'Germany', 1.8)
(16, 'Marco Reus', 'Marco Reus', '1989-05-31 00:00:00', 'Dortmund', 'West Germany', 1.8)
(17, 'Nuri Sahin', 'Nuri Şahin', '1988-09-05 00:00:00', 'Lüdenscheid', 'West Germany', 1.8)
(18, 'Robert Lewandowski', 'Robert Lewandowski', '1988-08-21 00:00:00', 'Warsaw', 'Poland', 1.85)
(19, 'Sergio Ramos', 'Sergio Ramos García', '1986-03-30 00:00:00', 'Camas, Seville', 'Spain', 1.84)
(20, 'Gerard Pique', 'Gerard Piqué Bernabeu', '1987-02-02 00:00:00', 'Barcelona', 'Spain', 1.94)
(21, 'Paul Scholes', 'Paul Aaron Scholes', '1974-11-16 00:00:00', 'Salford', 'England', 1.68)
(22, 'Ole Gunnar Solskjaer', 'Ole Gunnar Solskjær', '1973-02-26 00:00:00', 'Kristiansund', 'Norway', 1.78)
(23, 'Neymar', 'Neymar da Silva Santos Júnior', '1992-02-05 00:00:00', 'Mogi das Cruzes', 'Brazil', 1.75)
(24, 'Jamie Vardy', 'Jamie Richard Vardy', '1987-01-11 00:00:00', 'Sheffield', 'England', 1.79)
(25, 'James Maddison', 'James Daniel Maddison', '1996-11-23 00:00:00', 'Coventry', 'England', 1.75)
(26, 'James Ward Prowse', 'James Michael Edward Ward-Prowse', '1994-11-01 00:00:00', 'Portsmouth', 'England', 1.77)
(27, 'Reece James (footballer, born 1999)', None, None, None, None, None)
(28, 'Antony (footballer, born 2001)', None, None, None, None, None)
(29, 'Iker Casillas', 'Iker Casillas Fernández', '1981-05-20 00:00:00', 'Móstoles', 'Spain', 1.82)
(30, 'David de Gea', 'David de Gea Quintana', '1990-11-07 00:00:00', 'Madrid', 'Spain', 1.92)
(31, 'Alan Shearer', 'Alan Shearer', '1970-08-13 00:00:00', 'Newcastle upon Tyne', ' England', 1.83)
(32, 'Gianluca Vialli', 'Gianluca Vialli', '1964-07-09 00:00:00', 'Cremona', 'Italy', 1.8)
(33, 'Marco van Basten', 'Marcel van Basten', '1964-10-31 00:00:00', 'Utrecht', 'Netherlands', 1.88)
(34, 'Ruud van Nistelrooy', 'Rutgerus Johannes Martinus van Nistelrooij', '1976-07-01 00:00:00', 'Oss', 'Netherlands', 1.88)
(35, 'David James (footballer, born 1970)', None, None, None, None, None)
(36, 'Jarrod Bowen', 'Jarrod Bowen', '1996-12-20 00:00:00', 'Leominster', 'England', 1.75)
(37, 'Daley Blind', 'Daley Blind', '1990-03-09 00:00:00', 'Amsterdam', 'Netherlands', 1.8)
(38, 'Dusan Tadic', 'Dušan Tadić', '1988-11-20 00:00:00', 'Bačka Topola, SR Serbia', 'SFR Yugoslavia', 1.81)
(39, 'Eden Hazard', 'Eden Michael Walter Hazard', '1991-01-07 00:00:00', 'La Louvière', 'Belgium', 1.75)
(40, 'Olivier Giroud', 'Olivier Jonathan Giroud', '1986-09-30 00:00:00', 'Chambéry', 'France', 1.93)
(41, 'Karim Benzema', 'Karim Mostafa Benzema', '1987-12-19 00:00:00', 'Lyon', 'France', 1.85)
(42, 'Thierry Henry', 'Thierry Daniel Henry', '1977-08-17 00:00:00', 'Les Ulis', 'France', 1.88)
(43, 'Bukayo Saka', 'Bukayo Ayoyinka Temidayo Saka', '2001-09-05 00:00:00', 'Ealing', 'England', 1.78)
(44, 'George Best', 'George Best', '1946-05-22 00:00:00', 'Belfast', 'Northern Ireland', 1.75)
(45, 'Bobby Charlton', 'Robert Charlton', '1937-10-11 00:00:00', 'Ashington, Northumberland', 'England', 1.73)
(46, 'Alisson Becker', 'Álisson Ramsés Becker', '1992-10-02 00:00:00', 'Novo Hamburgo', 'Brazil', 1.93)
(47, 'Mohamed Salah', 'Mohamed Salah Hamed Mahrous Ghaly', '1992-06-15 00:00:00', 'Nagrig, Basyoun', 'Egypt', 1.75)
(48, 'Phil Foden', 'Philip Walter Foden', '2000-05-28 00:00:00', 'Stockport', 'England', 1.71)
(49, 'Harry Kane', 'Harry Edward Kane', '1993-07-28 00:00:00', 'Walthamstow', 'England', 1.88)
(50, 'Kylian Mbappe', 'Kylian Mbappé Lottin', '1998-12-20 00:00:00', 'Paris', 'France', 1.78)
(51, 'Lautaro Martinez', 'Lautaro Javier Martínez', '1997-08-22 00:00:00', 'Bahía Blanca', 'Argentina', 1.74)
(52, 'Vinicius Junior', 'Vinícius José Paixão de Oliveira Júnior', '2000-07-12 00:00:00', 'São Gonçalo', 'Brazil', 1.76)
(53, 'Andy Cole', 'Andrew Alexander Cole', '1971-10-15 00:00:00', 'Nottingham', 'England', 1.78)
(54, 'Peter Crouch', 'Peter James Crouch', '1981-01-30 00:00:00', 'Macclesfield', 'England', 2.01)
(55, 'Paulo Maldini', 'Paolo Cesare Maldini', '1968-06-26 00:00:00', 'Milan', 'Italy', 1.86)
(56, 'Francesco Totti', 'Francesco Totti', '1976-09-27 00:00:00', 'Rome', 'Italy', 1.8)
(57, 'Juninho', None, None, None, None, None)
(58, 'Craig Bellamy', 'Craig Douglas Bellamy', '1979-07-13 00:00:00', 'Cardiff', 'Wales', 1.75)
(59, 'Robbie Keane', 'Robert David Keane', '1980-07-08 00:00:00', 'Tallaght, Dublin', 'Ireland', 1.76)
(60, 'Nicolas Anelka', 'Nicolas Sébastien Anelka', '1979-03-14 00:00:00', 'Le Chesnay', 'France', 1.85)
(61, 'Rivaldo', 'Rivaldo Víctor Borba Ferreira', '1972-04-19 00:00:00', 'Recife', 'Brazil', 1.86)
(62, 'Christian Vieri', 'Christian Vieri', '1973-07-12 00:00:00', 'Bologna', 'Italy', 1.85)
(63, 'Christian Eriksen', 'Christian Dannemann Eriksen', '1992-02-14 00:00:00', 'Middelfart', 'Denmark', 1.81)
(64, 'Juan Mata', 'Juan Manuel Mata García', '1988-04-28 00:00:00', 'Burgos', 'Spain', 1.7)
(65, 'Dan James', None, None, None, None, None)
(66, 'Luka Modric', 'Luka Modrić', '1985-09-09 00:00:00', 'Zadar, SR Croatia', 'SFR Yugoslavia', 1.72)
(67, 'Erling Haaland', 'Erling Braut Haaland', '2000-07-21 00:00:00', 'Leeds, West Yorkshire', 'England', 1.94)
(68, 'Kevin de Bruyne', 'Kevin De Bruyne', '1991-06-28 00:00:00', 'Drongen', 'Belgium', 1.81)
(69, 'Thibaut Courtois', 'Thibaut Nicolas Marc Courtois', '1992-05-11 00:00:00', 'Bree', 'Belgium', 2)
(70, 'Sadio Mane', 'Sadio Mané', '1992-04-10 00:00:00', 'Bambali', 'Senegal', 1.74)
(71, 'Lisandro Martinez', None, None, None, None, None)
(72, 'Casemiro', 'Carlos Henrique Casimiro', '1992-02-23 00:00:00', 'São José dos Campos', 'Brazil', 1.85)
(73, 'Jude Bellingham', 'Jude Victor William Bellingham', '2003-06-29 00:00:00', 'Stourbridge', 'England', 1.86)
(74, 'Achraf Hakimi', 'Achraf Hakimi Mouh', '1998-11-04 00:00:00', 'Madrid', 'Spain', 1.81)
(75, 'Federico Valverde', 'Federico Santiago Valverde Dipetta', '1998-07-22 00:00:00', 'Montevideo', 'Uruguay', 1.82)
(76, 'Emiliano Martinez', 'Damián Emiliano Martínez', '1992-09-02 00:00:00', 'Mar del Plata', 'Argentina', 1.95)
(77, 'Samuel Etoo', 'Samuel Etoo', '1981-03-10 00:00:00', 'Douala', ' Cameroon', 1.8)
(78, 'Diego Milito', 'Diego Alberto Milito', '1979-06-12 00:00:00', 'Bernal', 'Argentina', 1.83)
(79, 'Wesley Sneijder', 'Wesley Sneijder', '1984-06-09 00:00:00', 'Utrecht', 'Netherlands', 1.7)
(80, 'Arjen Robben', 'Arjen Robben', '1984-01-23 00:00:00', 'Bedum', 'Netherlands', 1.8)
(81, 'Rafael Leao', 'Rafael Alexandre da Conceição Leão', '1999-06-10 00:00:00', 'Almada', 'Portugal', 1.88)
(82, 'Jamal Musiala', 'Jamal Musiala', '2003-02-26 00:00:00', 'Stuttgart', 'Germany', 1.84)
(83, 'VIrgil van Dijk', None, None, None, None, None)
(84, 'Bernardo Silva', 'Bernardo Mota Veiga de Carvalho e Silva', '1994-08-10 00:00:00', 'Lisbon', 'Portugal', 1.73)
(85, 'Josko Gvardiol', 'Joško Gvardiol', '2002-01-23 00:00:00', 'Zagreb', 'Croatia', 1.85)
(86, 'Martin Odegaard', 'Martin Ødegaard', '1998-12-17 00:00:00', 'Drammen', 'Norway', 1.78)
(87, 'Angel di Maria', 'Ángel Fabián Di María', '1988-02-14 00:00:00', 'Rosario, Santa Fe', 'Argentina', 1.78)
(88, 'Theo Hernandez', 'Théo Bernard François Hernandez', '1997-10-06 00:00:00', 'Marseille', 'France', 1.84)
(89, 'Sofyan Amrabat', 'Sofyan Amrabat', '1996-08-21 00:00:00', 'Huizen', 'Netherlands', 1.85)
(90, 'Benjamin Pavard', 'Benjamin Jacques Marcel Pavard', '1996-03-28 00:00:00', 'Maubeuge', 'France', 1.86)
(91, 'Aaron Ramsey', 'Aaron James Ramsey', '1990-12-26 00:00:00', 'Caerphilly', 'Wales', 1.78)
(92, 'Victor Osimhen', 'Victor James Osimhen', '1998-12-29 00:00:00', 'Lagos', 'Nigeria', 1.85)
(93, 'Cristián Romero (Chilean footballer)', None, None, None, None, None)
(94, 'Raphael Varane', 'Raphaël Xavier Varane', '1993-04-25 00:00:00', 'Lille', 'France', 1.91)
(95, 'Darwin Nunez', 'Darwin Gabriel Núñez Ribeiro', '1999-06-24 00:00:00', 'Artigas', 'Uruguay', 1.87)
(96, 'Serge Gnabry', 'Serge David Gnabry', '1995-07-14 00:00:00', 'Stuttgart', 'Germany', 1.76)
(97, 'Sandro Tonali', 'Sandro Tonali', '2000-05-08 00:00:00', 'Lodi', 'Italy', 1.81)
(98, 'Leroy Sane', 'Leroy Aziz Sané', '1996-01-11 00:00:00', 'Essen', 'Germany', 1.83)
(99, 'Gheorghe Hagi', 'Gheorghe Hagi', '1965-02-05 00:00:00', 'Săcele', 'Romania', 1.74)
(100, 'Hristo Stoichkov', 'Hristo Stoichkov Stoichkov', '1966-02-08 00:00:00', 'Plovdiv', 'Bulgaria', 1.78)
(101, 'Mario Kempes', 'Mario Alberto Kempes Chiodi', '1954-07-15 00:00:00', 'Bell Ville', 'Argentina', 1.84)
(102, 'Káká (Portuguese footballer)', None, None, None, None, None)
(103, 'George Weah', 'George Weah', '1966-10-01 00:00:00', 'Monrovia', 'Liberia', 1.85)
(104, 'Javier Zanetti', 'Javier Adelmar Zanetti', '1973-08-10 00:00:00', 'Buenos Aires', 'Argentina', 1.78)
(105, 'Javier Mascherano', 'Javier Alejandro Mascherano', '1984-06-08 00:00:00', 'San Lorenzo', 'Argentina', 1.74)
(106, 'Declan Rice', 'Declan Rice', '1999-01-14 00:00:00', 'Kingston upon Thames', 'England', 1.85)
(107, 'Luis Figo', 'Luís Filipe Madeira Caeiro Figo', '1972-11-04 00:00:00', 'Almada', 'Portugal', 1.8)
(108, 'Ferenc Puskas', 'Ferenc Puskas', '1927-04-01 00:00:00', 'Budapest', 'Hungary', 1.72)
(109, 'Sandor Kocsis', 'Sándor Péter Kocsis', '1929-09-21 00:00:00', 'Budapest', 'Hungary', 1.77)
(110, 'Peter Schmeichel', 'Peter Bolesław Schmeichel', '1963-11-18 00:00:00', 'Gladsaxe', 'Denmark', 1.93)
(111, 'Sergio Busquets', 'Sergio Busquets Burgos', '1988-07-16 00:00:00', 'Sabadell', 'Spain', 1.89)
(112, 'Maicon', None, None, None, None, None)
(113, 'Mario Balotelli', 'Mario Balotelli Barwuah', '1990-08-12 00:00:00', 'Palermo', 'Italy', 1.89)
(114, 'Paul Gascoigne', 'Paul John Gascoigne', '1967-05-27 00:00:00', 'Gateshead', 'England', 1.77)
(115, 'Éder (footballer, born 1986)', None, None, None, None, None)
(116, 'Mario Gotze', 'Mario Götze', '1992-06-03 00:00:00', 'Memmingen', 'Germany', 1.76)
(117, 'Didier Drogba', 'Didier Yves Drogba Tébily', '1978-03-11 00:00:00', 'Abidjan', 'Ivory Coast', 1.88)
(118, 'Dele Alli', 'Bamidele Jermaine Alli', '1996-04-11 00:00:00', 'Milton Keynes', 'England', 1.88)
(119, 'Mauro Icardi', 'Mauro Emanuel Icardi Rivero', '1993-02-19 00:00:00', 'Rosario', 'Argentina', 1.81)
(120, 'Roberto Carlos', 'Roberto Carlos da Silva Rocha', '1973-04-10 00:00:00', 'Garça, São Paulo', 'Brazil', 1.68)
(121, 'Alexis Sanchez', 'Alexis Alejandro Sánchez Sánchez', '1988-12-19 00:00:00', 'Tocopilla', 'Chile', 1.69)
(122, 'Romelu Lukaku', 'Romelu Lukaku Bolingoli', '1993-05-13 00:00:00', 'Antwerp', 'Belgium', 1.91)
(123, 'Sergio Aguero', 'Sergio Leonel Agüero del Castillo', '1988-06-02 00:00:00', 'Buenos Aires', 'Argentina', 1.73)
(125, 'Aaron Lennon', 'Aaron Justin Lennon', '1987-04-16 00:00:00', 'Leeds', 'England', 1.65)
(126, 'Gonzalo Higuain', 'Gonzalo Gerardo Higuaín', '1987-12-10 00:00:00', 'Brest', 'France', 1.86)
(127, 'Fernando Torres', 'Fernando José Torres Sanz', '1984-03-20 00:00:00', 'Fuenlabrada', 'Spain', 1.86)
(128, 'Luis Suarez', 'Luis Alberto Suárez Díaz', '1987-01-24 00:00:00', 'Salto', 'Uruguay', 1.82)
(144, 'ZZlatan', None, None, None, None, None)
(145, 'David Beckham', 'David Beckham', '1975-05-02 00:00:00', 'London', ' England', 1.83)
(146, 'Michael Owen', 'Michael James Owen', '1979-12-14 00:00:00', 'Chester', 'England', 1.73)
(147, 'Memphis Depay', 'Memphis Depay', '1994-02-13 00:00:00', 'Moordrecht', 'Netherlands', 1.78)
(148, 'Marcus Rashford', 'Marcus Rashford', '1997-10-31 00:00:00', 'Manchester', 'England', 1.8)
(149, 'Jesse Lingard', 'Jesse Ellis Lingard', '1992-12-15 00:00:00', 'Warrington', 'England', 1.75)
(150, 'Manuel Lanzini', 'Manuel Lanzini', '1993-02-15 00:00:00', 'Ituzaingó', 'Argentina', 1.67)
(151, 'Carlos Tevez', 'Carlos Alberto Tevez', '1984-02-05 00:00:00', 'Ciudadela, Buenos Aires', 'Argentina', 1.71)
(152, 'Alejandro Garnacho', 'Alejandro Garnacho Ferreyra', '2004-07-01 00:00:00', 'Madrid', 'Spain', 1.8)
(153, 'Didier Deschamps', 'Didier Claude Deschamps', '1968-10-15 00:00:00', 'Bayonne', 'France', 1.74)
(154, 'Cristián Romero (Chilean footballer)', None, None, None, None, None)
(155, 'Cristián Romero (Chilean footballer)', None, None, None, None, None)
(156, 'Rio Ferdinand', 'Rio Gavin Ferdinand', '1978-11-07 00:00:00', 'Camberwell', 'England', 1.89)
(157, 'Les Ferdinand', 'Leslie Ferdinand', '1966-12-08 00:00:00', 'Acton', 'England', 1.8)
(158, 'pep', None, None, None, None, None)
(159, 'Andrea Pirlo', 'Andrea Pirlo', '1979-05-19 00:00:00', 'Flero', 'Italy', 1.77)
(160, 'Ronaldinho', 'Ronaldo de Assis Moreira', '1980-03-21 00:00:00', 'Porto Alegre', 'Brazil', 1.82)
(161, 'Morata', None, None, None, None, None)
(162, 'Cristian Romero', None, None, None, None, None)
(163, 'Cristian Romero (Argentine footballer)', 'Cristian Gabriel Romero', '1998-04-27 00:00:00', 'Córdoba', 'Argentina', 1.85)
(164, 'Cristian Romero (Paraguayan footballer)', 'Cristian Reinaldo Romero Vallejo', '1989-01-06 00:00:00', 'Villeta', 'Paraguay', 1.89)
(165, 'Cristián Romero (Chilean footballer)', 'Crisitán Andrés Romero Godoy', '1963-12-26 00:00:00', 'Santiago', 'Chile', 1.72)
(166, 'Gareth Bale', 'Gareth Frank Bale', '1989-07-16 00:00:00', 'Cardiff', 'Wales', 1.86)
(167, 'Roy Keane', 'Roy Maurice Keane', '1971-08-10 00:00:00', 'Cork', 'Ireland', 1.8)
(168, 'Alfe-Inge Haaland', None, None, None, None, None)
(169, 'Alf-Inge Haaland', 'Alfie Haaland', '1972-11-23 00:00:00', 'Stavanger', 'Norway', 1.86)
(170, 'Michy Batshuayi', 'Michy Batshuayi-Atunga', '1993-10-02 00:00:00', 'Brussels', 'Belgium', 1.85)
(171, 'Rui Patricio', 'Rui Pedro dos Santos Patrício', '1988-02-15 00:00:00', 'Marrazes', 'Portugal', 1.9)
(172, 'Kostis Manolas', None, None, None, None, None)
(173, 'Kostas Manolas', 'Konstantinos Manolas', '1991-06-14 00:00:00', 'Naxos', 'Greece', 1.87)
(174, 'Kaoru Mitoma', 'Kaoru Mitoma', '1997-05-20 00:00:00', 'Hita, Ōita', 'Japan', 1.78)
(175, 'Evan Ferguson', 'Evan Joe Ferguson', '2004-10-19 00:00:00', 'Bettystown', 'Ireland', 1.88)
(176, 'Andre Onana', 'André Onana Onana', '1996-04-02 00:00:00', 'Nkol Ngok', 'Cameroon', 1.9)
(177, 'Ashley Young', 'Ashley Simon Young', '1985-07-09 00:00:00', 'Stevenage, Hertfordshire', 'England', 1.75)
__________________